body {
  background-color: black;
}

.wd-section {
  /*margin: 10px;*/
  padding-left: 16px;
  padding-right: 16px;
}

.wd-input {
  border-radius: 20px;
  background-color: darkgray;
  width: 40%
}

.wd-setting-img {
  margin-right: 16px;
}

.wd-row {
  /*border: 2px blue;*/
  /*background-color: #61dafb;*/
  float: left;
}

.wd-links {
  padding: 16px;
}

.wd-bottom-border {
  border-bottom: 1px solid rgb(29,161,242);
  color: rgb(29,161,242);
}

.wd-bottom-space {
  margin-bottom: 5px;
}

.wd-hyperlink {
  font-size: 15px;
  margin-right: 30px;
  color: rgb(110, 118, 125);
  text-decoration:none
}

.wd-col {
  float: left;
  width: 10%;
}

.wd-light-color-word {
  font-size: 14px;
  color: rgb(110, 118, 125);
}

.wd-small-size-word {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-mid-size-word {
  font-size: 14px;
  color: white;
}

.wd-high-light-words {
  font-size: 16px;
  color: white;
}

.wd-float-right {
  float: right;
}

.wd-float-left {
  float: left;
  margin-right: 10px;
 }

.float-done {
  clear: both;
}

.wd-image-radius {
  border-radius: 10px;
  margin-right: 16px;
}

.border-line {
  border-top: 1px solid rgb(110, 118, 125);
  padding-top: 10px;
}

.border-bottom-line {
  border-bottom: 1px solid rgb(110, 118, 125);
}